.chess-board {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  grid-template-rows: 25px 1fr 25px;
  grid-template-areas:
    "top-row top-row top-row"
    "left-column fields right-column"
    "bottom-row bottom-row bottom-row";
  background-image: url(wood_1.png);
}
.top.numbering {
  grid-area: top-row;
}
.left.numbering {
  grid-area: left-column;
}
.right.numbering {
  grid-area: right-column;
}
.bottom.numbering {
  grid-area: bottom-row;
}
.fields {
  grid-area: fields;
}
.numbering {
  display: flex;
  list-style-type: none;
  margin: 0;
  align-items: center;
  color: white;
}
.horizontal.numbering {
  flex-direction: row;
  padding-left: 25px;
  padding-right: 25px;
}
.vertical.numbering {
  flex-direction: column-reverse;
  padding: 0;
}
.numbering li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.horizontal.numbering li {
  width: calc(100% / 8);
}
.vertical.numbering li {
  height: calc(100% / 8);
}

.fields {
  border: 1px solid black;
}
.row {
  display: flex;
  height: calc(100% / 8);
}
.field {
  width: calc(100% / 8);
  height: 100%;
}
.row:nth-child(even) .field:nth-child(odd) {
  background-color: black;
}
.row:nth-child(odd) .field:nth-child(even) {
  background-color: black;
}
.row:nth-child(even) .field:nth-child(even) {
  background-color: white;
}
.row:nth-child(odd) .field:nth-child(odd) {
  background-color: white;
}
